<div class="row" *ngIf="enableEditMode">
    <div class="photo-manipulate-panel">
        <button class="link-button float-right mr-3" tooltip="Edit photos" container="body" (click)="enterEditMode()"
            *ngIf="!isInEditMode">
            <i class="fa fa-edit fa-2x"></i>
        </button>
        <button class="link-button float-right mr-3" tooltip="Exit edit mode" container="body" (click)="exitEditMode()"
            *ngIf="isInEditMode">
            <i class="fa fa-sign-out fa-2x"></i>
        </button>
        <button class="link-button float-right mr-3" tooltip="Upload new photo(s)" container="body" (click)="openAddPhotosModal()"
            *ngIf="isInEditMode">
            <i class="fa fa-plus fa-2x"></i>
        </button>
        <button class="link-button float-right mr-3" [disabled]="selectedPhotoIds.size === 0" (click)="deletePhoto(selectedPhotoIds)"
            tooltip="Remove selected photo(s)" container="body" *ngIf="isInEditMode">
            <i class="fa fa-trash fa-2x"></i>
        </button>
        <div class="float-right mr-3" *ngIf="isInEditMode">
            <input class="large-checkbox" type="checkbox" name="selectOrDeselectAll" id="selectOrDeselectAll"
                data-md-icheck (change)="selectOrDeselectAll($event)">
            <label class="select-deselect-label" for="selectOrDeselectAll">&nbsp;Select/Deselect All</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 no-padding" *ngFor="let photo of photos; index as i">
        <div [ngClass]="{'thumbnail-img-wrapper-gallery': enableEditMode === false || isInEditMode === false,
            'thumbnail-img-wrapper-editor': enableEditMode && isInEditMode && photo.selected === true}">
            <a (click)="enableEditMode && isInEditMode ? processImageSelection(photo, i) : openGallery(i)">
                <img src="{{photo.thumbnailUrl || photo.url}}" alt="" class="img-thumbnail p-1">
            </a>
            <div class="round-icon-check-container" *ngIf="enableEditMode && isInEditMode && photo.selected === true">
                <div class="round-icon-check">
                    <input type="checkbox" name="image-selector-{{i}}" id="image-selector-{{i}}" data-md-icheck
                        [(ngModel)]="photo.selected"
                        (change)="processImageSelection($event, photo.id)">
                    <label for="image-selector-{{i}}"></label>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-image-gallery 
    [images]="images" 
    [conf]="conf">
</ngx-image-gallery>